<title>
	{% if page.title %} 
		{{ page.title }}
	{%else %} 
		***Default layout title***
	{% endif %}
</title>
<meta author="{{ site.author }}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<link href="{{ site.url }}/assets/css/style.css" type="text/css" rel="stylesheet">
<link href="{{ site.url }}/assets/css/code.css" type="text/css" rel="stylesheet">
<link href="{{ site.url }}/assets/css/quote.css" type="text/css" rel="stylesheet">


<script type='text/javascript' src='{{ site.url }}/assets/js/respond.min.js'></script>
