/****************** 
  Reset
 ******************/
* { 
    margin: 0; 
    padding: 0; 
}
html { 
    overflow-y: scroll;
    height: 100%;
}
body { 
    background:#FAFAFA; 
    font-size: 13px; 
    color: #666666; 
    font-family: 'Open Sans', Arial, helvetica, sans-serif;
    height: 100%;
}

ol, ul { 
    list-style: none;
    margin: 0;
}
ul li { 
    margin: 0; 
    padding: 0;
}
h1 { 
    margin-bottom: 10px; 
    color: #111111;
}   
img { 
    outline: none; 
    border:none; color: #000; 
    font-weight: bold; 
    text-transform: uppercase;
}
p { 
    margin: 0 0 10px; 
    line-height: 1.5em; 
    font-size: 1.2em;
}
img { 
    display: block;
    margin-bottom: 10px;
}
aside { 
    font-style: italic; 
    font-size: 0.9em;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/***************

***************/
/* Structure */
#wrapper {
    width: 96%; 
    max-width: 920px;
    padding: 2%;

    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -45px; /* the bottom margin is the negative value of the footer's height */
} 

#main {
    width: 80%;
    margin-right: 5%;
    margin-left: 10%;
    float: left;
}       

/* Logo H1 */
header h1 {
	height: 50px;
	width: 100%;
    display: block;
    text-align: center;
    font-size: 3em;
    float: left;
}

h1 {
    font-family: 'MerryWeather', Serif; 
}

header nav {
    float: right;
    margin-top: 40px;
}
header nav li {
    display: inline;
    margin-left: 15px;
}
#skipTo {
    display: none;
}
#skipTo li {
    background: #b1fffc;
}
/* Banner */
#banner {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
#banner img {
    width: 100%;
}

/* Media Queries */
@media screen and (max-width: 480px) {

    #skipTo {
        display: block;
    }
    
    header nav, #main, aside {
        float: left;
        clear: left;
        margin: 0 0 10px; 
        width: 100%;
    }   
    header nav li {
        margin: 0;
        background: #efefef;
        display: block;
        margin-bottom: 3px;
    }
    header nav a {
        display: block;
        padding: 10px;
        text-align: center;
    }           
}

#front_post_nav {
    width: 100%;
    text-align: center;
    float:left;
}

/************
 Post styling
***********/
.post_title {
    text-decoration: none;
}
section .post_title {
   font-family: 'MerryWeather', Serif; 
   text-align: left;
   float:left;
   width: 100%;
   border-bottom: 1px solid silver;
   font-weight:bold;
   padding-bottom: 3px;
   font-size: 50px;
   font-weight: bold;
   color: black;
   margin-bottom: 2px;
}

section .post_date {
    float: right;
    padding-bottom: 8px
}

section .post_title_wrapper {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.post_excerpt {
    margin-bottom: 50px;
    float: left;
    width: 100%;
}

.post_wrap {
    float: left;
    width: 100%;
}

.post_wrap img{
    max-width: 100%;
    text-align: center;
}

/*************
 Tables - posts only? 
**************/
table { 
  width: 100%; 
  max-width: 100%;
  border-collapse: collapse; 
  overflow: auto;
  table-layout: fixed;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td {
    word-wrap: break-word;
    white-space: pre-wrap;
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}


/* Can't have a table above 450 px!*/

@media only screen and (max-width: 450px) {
    
    .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
    * html .cf { zoom: 1; }
    *:first-child+html .cf { zoom: 1; }
    
    table { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
    th,
    td { margin: 0; vertical-align: top; white-space: nowrap; word-wrap: normal;}
    th { text-align: left; }
    
    table { display: block; position: relative; width: 100%; }
    thead { display: block; float: left; }
    tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
    thead tr { display: block; }
    th { display: block; text-align: right; }
    tbody tr { display: inline-block; vertical-align: top; }
    td { display: block; min-height: 1.25em; text-align: left; }
 
 
    /* sort out borders */
 
    th { border-bottom: 0; border-left: 0; }
    td { border-left: 0; border-right: 0; border-bottom: 0; }
    tbody tr { border-left: 1px solid #babcbf; }
    th:last-child,
    td:last-child { border-bottom: 1px solid #babcbf; }
}
/***************
  Footer
***************/

footer {
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    margin-top: 30px;
    padding-top: 5px;
    background: #e6e6e6;
    clear: both;
}

footer, .push {
    height: 45px; /* '.push' must be the same height as 'footer' */
}

footer img {
    max-width: 40px;
    min-width: 40px;
    display:inline-block;
    margin: 0;
}